<!DOCTYPE html>
<html lang="sv" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Christmas Presents </title>
    <link href="index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  </head>
  <body>

    <div id="container">

        <div id="header">
        <header>
        <h1> Christmas Presents </h1>
        <h4> Get inspiration to surprise your family and friends! Or maybe get yourself something interesting...  </h4>
        </header>
        </div>

        <div id="background">
          <body background="jul.jpg">
        </div>

        <div id="giftlist">
        <p> Got to buy presents for your loved ones, but have zero ideas? Then look here!
          </p>

          <!-- Button that redirects to text -->

        <p> Our top ten most popular presents for the last decade:
          </p>

        <a href="decade.ejs" class="button"> Read </a>

        </div>

        <!-- Button that redirects to randomiser -->

        <div id="giftbutton">
        <p> Get yourself a present from our attractive list!
        </p>
          <a href="random.ejs" class="button"> Get it! </a>
        </div>

    </div>
  </body>
</html>
