<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Here is your Christmas present! </title>
    <link rel = "stylesheet" href = "index.css">
    <script type="text/javascript" src="table.js"> </script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
      </head>

      <body>

        <div id="container">

            <div id="header">
            <header>
            <h1> Christmas Presents </h1>
            <h4> Get inspiration to surprise your family and friends! Or maybe get yourself something interesting...  </h4>
            </header>
            </div>

            <div id="background">
              <body background="jul.jpg">
            </div>


            <!-- Puts in data of the present -->

            <div id="midsection">
              <h1 id = "name"> </h1>
              <h1 id = "path"> </h1>
              <h1 id = "source"> </h1>
              </div>
            </div>

            <!-- Button that redirects to main page -->  

            <div id = "back">
              <a href = "./"> Go back </a>
                </div>

        </div>
      </body>
    </html>
