<!DOCTYPE html>
<html lang="sv" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Christmas Presents </title>
    <link href="index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  </head>
  <body>

    <div id="container">

        <div id="header">
        <header>
        <h1> Christmas Presents </h1>
        <h4> Get inspiration to surprise your family and friends! Or maybe get yourself something interesting...  </h4>
        </header>
        </div>

        <div id="background">
          <body background="jul.jpg">
        </div>

        <div class="text">
	<h1>Årets julklapp genom tiderna</h1>
	<br>
	<ul>
		<li>2019 – Mobillådan [11]</li>
		<li>2018 – Det återvunna plagget[10]</li>
		<li>2017 – Elcykeln[9]</li>
		<li>2016 – VR-glasögon[8]</li>
		<li>2015 – Robotdammsugaren[6]</li>
		<li>2014 – Aktivitetsarmbandet</li>
		<li>2013 – Råsaftcentrifugen</li>
		<li>2012 – Hörlurarna[7]</li>
		<li>2011 – Den färdigpackade matkassen (från exempelvis matkasseföretag eller livsmedelsbutiker)</li>
		<li>2010 – Surfplattan</li>
		<li>2009 – Spikmattan</li>
	</ul>
</div>
